In [53]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/exemples/stock_px.csv
/kaggle/input/exemples/ex6.csv
/kaggle/input/exemples/ipython_bug.py
/kaggle/input/exemples/segismundo.txt
/kaggle/input/exemples/ex1.csv
/kaggle/input/exemples/fdic_failed_bank_list.html
/kaggle/input/exemples/example.json
/kaggle/input/exemples/macrodata.csv
/kaggle/input/exemples/ex2.csv
/kaggle/input/exemples/test_file.csv
/kaggle/input/exemples/out.csv
/kaggle/input/exemples/yahoo_price.pkl
/kaggle/input/exemples/ex5.csv
/kaggle/input/exemples/ex1.xlsx
/kaggle/input/exemples/ex3.csv
/kaggle/input/exemples/stinkbug.png
/kaggle/input/exemples/tseries.csv
/kaggle/input/exemples/tips.csv
/kaggle/input/exemples/ex7.csv
/kaggle/input/exemples/spx.csv
/kaggle/input/exemples/volume.csv
/kaggle/input/exemples/yahoo_volume.pkl
/kaggle/input/exemples/ex4.csv
/kaggle/input/exemples/csv_mindex.csv
/kaggle/input/exemples/stock_px_2.csv
/kaggle/input/exemples/array_ex.txt
/kaggle/input/exemples/ex3.txt

# Data Loading, Storage, and File Formats

# 1. Reading and Writing Data in Text Format

In [54]:
!cat ../input/exemples/ex1.csv
path = '../input/exemples/'

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

Since this is comma-delimited, we can use read_csv to read it into a DataFrame:

In [55]:
df = pd.read_csv(path + 'ex1.csv')

In [56]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

We could also have used read_table and specified the delimiter:

In [57]:
pd.read_table(path + 'ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [58]:
!cat ../input/exemples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

To read this file, you have a couple of options. You can allow pandas to assign default column names, or you can specify names yourself:

In [59]:
pd.read_csv(path + 'ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [60]:
pd.read_csv(path + 'ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Suppose you wanted the message column to be the index of the returned DataFrame.  
You can either indicate you want the column at index 4 or named 'message' using the index_col argument:

In [61]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv(path + 'ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In the event that you want to form a hierarchical index from multiple columns,  
pass a list of column numbers or names:

In [62]:
!cat ../input/exemples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [63]:
parsed = pd.read_csv(path + 'csv_mindex.csv', index_col=['key1', 'key2'])

In [64]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [65]:
result = pd.read_table(path + 'ex3.txt', sep='\s+')

In [66]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

You can skip the first, third, and fourth rows of a file with skiprows:

In [67]:
!cat ../input/exemples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [68]:
pd.read_csv(path + 'ex4.csv', skiprows=[0, 2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Handling missing values is an important and frequently nuanced part of the file pars‐ ing process.  
Missing data is usually either not present (empty string) or marked by some sentinel value.  
By default, pandas uses a set of commonly occurring sentinels, such as NA and NULL:

In [69]:
!cat ../input/exemples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [70]:
result = pd.read_csv(path + 'ex5.csv')

In [71]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [72]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

The na_values option can take either a list or set of strings to consider missing values:

In [73]:
result = pd.read_csv(path + 'ex5.csv', na_values=['NULL'])

In [74]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Different NA sentinels can be specified for each column in a dict:

In [75]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two', 'three']}
pd.read_csv(path + 'ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2       NaN  9  10  11.0  12     NaN

## Reading Text Files in Pieces

When processing very large files or figuring out the right set of arguments to correctly process  
a large file, you may only want to read in a small piece of a file or iterate through smaller chunks of the file.
Before we look at a large file, we make the pandas display settings more compact:

In [76]:
pd.options.display.max_rows = 10

In [77]:
result = pd.read_csv(path + 'ex6.csv')

In [78]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

If you want to only read a small number of rows (avoiding reading the entire file), specify that with nrows:

In [79]:
result = pd.read_csv(path + 'ex6.csv', nrows=5)

In [80]:
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

To read a file in pieces, specify a chunksize as a number of rows:

In [81]:
result = pd.read_csv(path + 'ex6.csv', chunksize=1000)

In [82]:
result

In [95]:
tot = pd.Series([], dtype=object)
for piece in result:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    print(piece)
tot = tot.sort_values(ascending=False)

In [91]:
tot[:10]

Series([], dtype: object)

## Writing Data to Text Format

Data can also be exported to a delimited format. Let’s consider one of the CSV files read before:

In [97]:
data = pd.read_csv(path + 'ex5.csv')

In [98]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [100]:
data.to_csv('path' + 'out.csv')

In [101]:
!cat ../input/exemples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

Other delimiters can be used, of course (writing to sys.stdout so it prints the text result to the console):

In [102]:
import sys

In [105]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:

In [106]:
data.to_csv(sys.stdout, sep='|', na_rep='NULL')

|something|a|b|c|d|message
0|one|1|2|3.0|4|NULL
1|two|5|6|NULL|8|world
2|three|9|10|11.0|12|foo

With no other options specified, both the row and column labels are written. Both of these can be disabled:

In [108]:
data.to_csv(sys.stdout, sep='|',index=False,columns=['a', 'b', 'c'])

a|b|c
1|2|3.0
5|6|
9|10|11.0

## Working with Delimited Formats

It’s possible to load most forms of tabular data from disk using functions like pan das.read_table.  
In some cases, however, some manual processing may be necessary.  
It’s not uncommon to receive a file with one or more malformed lines that trip up read_table.  
To illustrate the basic tools, consider a small CSV file:

In [109]:
!cat ../input/exemples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [124]:
# For any file with a single-character delimiter, you can use Python’s built-in csv module.
import csv
filename = path + 'ex7.csv'
with open(filename) as f:
    lines = list(csv.reader(f))
    
    print(lines)

    # Then, we split the lines into the header line and the data lines:
    header, values = lines[0], lines[1:]
    
    # Then we can create a dictionary of data columns using a dictionary comprehension 
    # and the expression zip(*values), which transposes rows to columns:
    data_dict = { h: v for h, v in zip(header , zip(*values)) }
    data_dict

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [125]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [121]:
pd.DataFrame(data_dict)

   a  b  c
0  1  2  3
1  1  2  3